body {
    height: 100vh;
    width: 100vw;
    /* align-items: center; */
}

header {
    width: 100%;
    height: 30px;
    background-color: gray;
    display: flex;
    /* position: relative; */
    font-weight: lighter;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;

}


h2 {
    position: absolute;
    left: 10px;
    font-size: 15px;
    width: 100px;
}

.nav-menu {
    width: 180px;
    font-size: 10px;
    position: absolute;
    right: 10px;
    /* top: 3px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.top-section {
    height: 200px;
    width: 100%;
    background-color: black;
    /* color: yellow; */
    justify-content: center;
    align-items: center;
    display: flex;
}

 .top-section > p {
    height: 100%;
    width: 100%;
    color: yellow;
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;

}

.main-content {
    height: 500px;
    width: 100%;
    display: flex;
    /* justify-content: space-evenly; */

}

footer {
    height: 50px;
    width: 100%;
    background-color: rgb(76, 72, 102);
}

.container-1 {
    height: 150px;
    width: 100%;
    justify-content: space-around;
    display: flex;
    align-items: center;
    
}

.green-box {
    height: 120px;
    width: 120px;
    border-radius: 10%;
    background-color: mediumaquamarine;
    display: flex;
    flex-direction: row;
    
}

.container-2 {
    height: 150px;
    width: 100%;
    justify-content: space-around;
    display: flex;
    align-items: center;
    
}

.orange-box {
    height: 120px;
    width: 200px;
    background-color: rgb(218, 162, 99);
    display: flex;
    flex-direction: row;
}
.container-3 {
    height: 150px;
    width: 100%;
    justify-content: space-around;
    display: flex;
    align-items: center;
    
}